body {
    background-color: rgb(142, 98, 66);
    color: white;
}

/*estilo tipografico*/
h1, h4 {
    font-family: "Metamorphous", serif;
}

p {
    font-family: "Cormorant Unicase", serif;
     font-size: 1.3rem;
}

/* estilo general para todos los botones */
body .btn {
    font-family: "Metamorphous", serif;
    background-color: rgb(98, 50, 16);
    border: 3px solid rgb(77, 38, 10);
    color: white;
    text-decoration: none;
}

body .btn:hover {
    background-color: rgb(138, 70, 20);
    border-color: rgb(138, 70, 20);
    color: white;
}

body .btn a {
    color: white;
    text-decoration: none;
}

body .btn:hover a {
    color: white;
}

div {
    background-color: rgb(182, 141, 112);
}

nav {
    background-color: rgb(98, 50, 16);
}

.card {
    border: 3px solid white;
}

.card * {
    color: white;
}